@media screen and (min-width: 1441px) {
  .board {
    padding-inline: calc(64px + (100vw - 1440px) / 2);
  }
}

@media screen and (max-width: 1440px) {
  .board {
    padding-inline: clamp(24px, 4vw, 64px);
    padding-top: clamp(40px, 5vw, 80px);
    gap: clamp(32px, 1vw, 55px);
  }

  .kanban-tasks {
    height: calc(100vh - 340px);
  }

  .task-none {
    width: clamp(100px, 17vw, 252px);
  }

  .task-card-area {
    width: clamp(200px, 17vw, 252px);
  }

  .task-subtasks-bar {
    width: clamp(100px, 8vw, 128px);
  }
}

@media screen and (max-width: 1260px) {
  .kanban-tasks {
    height: calc(100vh - 320px);
  }

  .task-subtasks {
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }

  .task-subtasks-bar {
    width: 100%;
  }
}

@media screen and (max-width: 1240px) {
  .board {
    padding-inline: clamp(0px, 2vw, 44px);
    gap: 32px;
  }

  .task-card-area {
    width: clamp(50px, 18vw, 220px);
    margin: 6px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.08);
  }

  .task-card {
    padding: 14px;
    gap: 16px;
  }
}

@media screen and (max-width: 1024px) {
  .search-box {
    width: 288px;
  }

  .board {
    height: calc(100vh - 120px);
    padding-inline: 21px;
    margin-bottom: 40px;
    gap: 32px;
    overflow: hidden;
    overflow-y: scroll;
  }

  .board-menue {
    width: 360px;
  }

  .btn-add-task {
    width: 48px;
    height: 48px;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .btn-add-task::before {
    display: none;
    content: "";
  }

  .kanban-board {
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }

  .kanban-tasks {
    height: auto;
    padding-bottom: 8px;
    margin-bottom: 18px;
    overflow: hidden;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
  }

  .task-none {
    width: 252px;
  }

  .task-card-area {
    width: 252px;
    margin: 8px;
    background-color: rgb(42, 54, 71);
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.08);
  }

  .task-arrow {
    display: flex;
  }

  .task-arrow-top {
    border-top: 1px solid rgb(41, 171, 226);
  }

  .task-arrow-bottom {
    border-bottom: 1px solid rgb(41, 171, 226);
  }

  .task-card {
    width: 252px;
    padding: 16px;
    gap: 24px;
  }

  .task-subtasks {
    flex-direction: row;
    align-items: center;
    gap: 0px;
  }

  .task-subtasks-bar {
    width: 128px;
  }
}

@media screen and (max-width: 777px) {
  .board {
    height: calc(100vh - 160px);
    padding-inline: 16px;
    margin-bottom: 80px;
    gap: 27px;
  }

  .board-menue {
    width: 48px;
  }

  .search-box {
    display: none;
  }

  .search-box-mobile {
    display: flex;
  }

  .task-none {
    width: 100%;
  }

  .single-task {
    width: clamp(304px, 82vw, 525px);
    padding-block: clamp(32px, 3vw, 48px);
    padding-inline: clamp(24px, 3vw, 40px);
  }

  .single-task-content {
    font-size: clamp(16px, 3vw, 20px);
  }

  .single-task-category {
    font-size: clamp(16px, 3vw, 24px);
  }

  .single-task-prio {
    height: clamp(27px, 5vw, 33px);
  }

  .delete-task {
    width: clamp(290px, 78vw, 360px);
    font-size: clamp(18px, 5vw, 20px);
    padding-block: clamp(36px, 11vw, 48px);
  }
}
