@media screen and (max-width: 1240px) {
  header {
    width: calc(100% - clamp(100px, 15vw, 144px));
    left: clamp(100px, 15vw, 144px);
    padding: 20px 40px 20px 63px;
  }

  .icon-box {
    justify-content: flex-end;
  }

  .help {
    display: none;
  }

  .help-menu {
    display: block;
  }

  aside {
    width: clamp(100px, 15vw, 144px);
  }

  .icon-bar {
    height: unset;
  }

  .link-sidebar {
    height: auto;
    padding: 12px 0px 12px 0px;
    font-size: clamp(12px, 2vw, 16px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .credit-box {
    width: unset;
  }

  .link-credits {
    display: none;
  }
}

@media screen and (max-width: 777px) {
  header {
    left: 0;
    width: 100%;
    height: 80px;
    padding: 20px 16px;
    z-index: 98;
  }

  header span {
    display: none;
  }

  .logo-mobile {
    display: block;
  }

  .log-out {
    left: calc(93% - 171px);
    top: 61px;
  }

  aside {
    width: clamp(320px, 100%, 777px);
    height: 80px;
    bottom: 0px;
    top: unset;
    padding: 0px 9px;
  }

  .hide-mobile {
    display: none;
  }

  .icon-bar {
    height: 80px;
    gap: 10px;
    flex-direction: row;
    justify-content: space-around;
  }

  .box-icons {
    display: flex;
    align-items: center;
    gap: 8px;
    height: unset;
    padding: 0;
    box-sizing: border-box;
    flex-direction: column;
  }

  .link-sidebar {
    width: clamp(66px, 13vw, 99px);
    margin: 4px;
    border-radius: 8px;
  }

  .logo-sidebar {
    display: none;
  }

  .credit-box {
    display: none;
  }

  /* Greeting ist nicht im Desktop Template vorhanden */
  .greeting {
    display: none;
  }
}
