@media screen and (max-width: 1440px) {
  .content {
    padding: 30px 16px 0px;
  }
  .summary {
    padding-inline: clamp(9px, 9vw, 96px);
  }
}

@media screen and (max-width: 1400px) {
  .d-flex {
    flex-direction: column-reverse;
  }

  .greeting {
    display: flex;
    padding: 0px 0px 30px 0px;
    align-items: center;
  }

  .greeting-user {
    margin-left: 21px;
  }
}

@media screen and (max-width: 860px) {
  h1 {
    font-size: 47px;
  }
}

@media screen and (max-width: 777px) {
  .content {
    height: calc(100% - 160px);
    width: 100%;
    margin: 80px 0px 192px;
  }

  .content-tasks {
    height: clamp(316px, 49vh, 560px);
    justify-content: unset;
  }

  .head {
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
    padding-bottom: clamp(18px, 5vw, 40px);
  }

  h2 {
    order: 0;
    font-size: 20px;
  }

  .seperator-blue {
    order: 1;
    width: 59px;
    height: 1px;
  }

  .greeting {
    display: none;
  }

  .task-in-block {
    height: clamp(75px, 16vh, 168px);
  }

  .seperator-grey {
    height: clamp(51px, 14vw, 102px);
  }

  .priority-block {
    gap: clamp(3px, 2vw, 61px);
    justify-content: space-evenly;
  }

  .priority-block:hover {
    transform: scale(1.05);
  }

  .priority-and-nummber {
    justify-content: center;
  }

  .circel-priority img {
    width: clamp(28px, 5vw, 34p);
    height: clamp(17px, 5vw, 25px);
  }

  .greeting-user {
    font-size: clamp(30px, 11vw, 47px);
    margin-left: 21px;
  }
}
