@media screen and (max-width: 1240px) {
  .content {
    padding: 0px;
  }

  .text-box {
    flex-direction: column;
    align-items: flex-start;
  }

  .text-seperator {
    order: 1;
    width: 90px;
    height: 3px;
  }

  .contacts {
    width: clamp(283px, 23vw, 352px);
  }

  .contact-seperator {
    width: 242px;
    margin: 8px 0px 8px 12px;
  }

  .contact-info {
    font-size: clamp(12px, 5vw, 20px);
  }
}

@media screen and (max-width: 1024px) {
  #dialog_contacts {
    display: flex;
    width: clamp(290px, 88vw, 396px);
    height: clamp(584px, 67vh, 760px);
    flex-direction: column;
  }

  #dialog_edit {
    display: flex;
    width: clamp(290px, 88vw, 396px);
    height: clamp(584px, 67vh, 760px);
    flex-direction: column;
  }

  .dialog-left {
    width: clamp(290px, 88vw, 396px);
    height: 352px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0px;
    padding: 66px 24px 66px 24px;
  }

  .logo-dialog {
    display: none;
  }

  .dialog-text {
    font-size: 20px;
  }

  .dialog-right {
    flex-direction: column;
    align-items: center;
  }

  .unknown-user {
    margin-top: -60px;
    margin-left: 0px;
  }

  .edit-big-letter-circle {
    margin-top: -60px;
    margin-left: 0px;
    border: 3px solid white;
  }

  .input-fields-contacts {
    margin-top: 23px;
    width: 364px;
    gap: 15px;
  }

  .dialog-content-right {
    margin-left: 16px;
    margin-right: 16px;
  }

  .input-name {
    width: clamp(240px, 76vw, 364px);
    height: 41px;
    background-position: 330px 12px;
  }

  .input-email {
    width: clamp(240px, 76vw, 364px);
    height: 41px;
    background-position: 330px 12px;
  }

  .input-phone {
    width: clamp(240px, 76vw, 364px);
    height: 41px;
    background-position: 330px 12px;
  }

  .button-cancel {
    display: none;
  }

  .button-contacts {
    padding-top: 32px;
    padding-bottom: 30px;
    justify-content: center;
  }
  .close-cross {
    top: 24px;
    right: 16px;
  }
  .close-cross:hover {
    background-color: rgb(41, 171, 227);
  }

  .close-cross:active {
    background-color: rgb(41, 171, 227);
  }

  .button-delete-save {
    width: unset;
    height: 51px;
    padding-top: 32px;
    padding-bottom: 81px;
    justify-content: center;
    gap: 20px;
  }

  .button-delete {
    width: 82px;
    padding: 18px 10px;
  }
}

@media screen and (max-width: 777px) {
  .content {
    height: calc(100% - 160px);
    width: 100%; /*muss weil keine sidebar mehr da ist links  */
    margin: 80px 0px 192px;
    padding: 0px 16px 0px;
  }

  h1 {
    font-size: clamp(47px, 7vw, 61px);
  }

  h3 {
    font-size: clamp(24px, 5vw, 47px);
  }

  .add-contact {
    display: none;
  }

  #contact_info {
    display: none;
  }

  .letter-box {
    width: clamp(300px, 77vw, 352px);
  }

  .big-letter-circle {
    font-size: clamp(24px, 6vw, 47px);
    width: clamp(70px, 23vw, 120px);
    height: clamp(70px, 19vw, 120px);
    border: 3px solid white;
  }

  .contacts {
    width: clamp(300px, 77vw, 352px);
  }

  .contact-box {
    width: 100%;
    height: calc(100vh - 160px);
    padding: 0px 0px;
    align-items: flex-start;
  }

  .contact-seperator {
    margin-left: clamp(0px, 77vw, 12px);
    width: clamp(270px, 83vw, 95%);
  }

  .mobile-add-contact {
    display: flex;
  }

  .contact-box-name {
    justify-content: center;
  }

  .arrow-back {
    position: absolute;
    right: 21px;
  }

  .arrow-back:hover {
    cursor: pointer;
  }

  .field-alert {
    width: clamp(240px, 76vw, 364px);
  }

  .contacts-info-name {
    height: unset;
    width: clamp(300px, 57vw, 700px);
  }

  .contacts-information {
    height: unset;
  }

  .contacts-info {
    animation: slideInFromRight 0s ease-in;
  }

  #succesfully_created {
    top: unset;
    left: 50%;
    bottom: -15%;
    transition: bottom 0.4s ease-out;
    transform: translate(-50%, -50%);
  }

  #succesfully_created.dialog-open {
    left: 50%;
    bottom: 20%;
  }
}
