* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  border: none;
  margin: 0;
  font-family: "Inter", normal;
}

html {
  height: 100%;
}

body {
  height: calc(100% - 96px);
  background-color: rgb(246, 247, 248);
  color: rgb(42, 54, 71);
  visibility: hidden;
  overflow: hidden;
}

.content {
  height: 100%;
  width: calc(100% - 232px);
  margin-left: 232px;
  margin-top: 96px;
  padding: 110px 96px 70px 96px;
  display: flex;
  flex-direction: column;
}

.content-overlay {
  height: 100%;
  width: 100%;
  padding: 64px 74px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 700;
  font-size: 61px;
  color: #000000;
}

h2 {
  font-weight: 700;
  font-size: 61px;
  color: #000000;
}

a {
  text-decoration: none;
  color: rgb(168, 168, 168);
}

a:hover {
  cursor: pointer;
  font-weight: 700;
  color: rgb(41, 171, 226);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgb(168, 168, 168);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(150, 150, 150);
}

.w-100 {
  width: 100%;
}

.wh-24 {
  width: 24px;
  height: 24px;
}

.wh-32 {
  width: 32px;
  height: 32px;
}

.wh-42 {
  width: 42px;
  height: 42px;
}

.font-s-12 {
  font-size: 12px;
}

.font-s-16 {
  font-size: 16px;
}

.font-s-20 {
  font-size: 20px;
}

.font-w-700 {
  font-weight: 700;
}

.font-c-66-82-110 {
  color: rgb(66, 82, 110);
}

.font-c-white {
  color: white;
}

.font-c-black {
  color: black;
}

.font-c-255-129-144 {
  color: rgb(255, 129, 144);
}

.font-c-168-168-168 {
  color: rgb(168, 168, 168);
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-spbe-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.d-flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gap-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.gap-10 {
  gap: 10px;
}

.gap-12 {
  gap: 12px;
}

.gap-16 {
  gap: 16px;
}

.gap-20 {
  gap: 20px;
}

.gap-24 {
  gap: 24px;
}

.gap-32 {
  gap: 32px;
}
