<header>
  <div>
    <img class="logo-mobile" src="../assets/img/png/logo_mobile.png" alt="logo">
    <span>Kanban Project Management Tool</span>
  </div>
  <div id="header_icons" class="icon-box">
    <a id="help_page" href="../html/help.html">
      <img class="help" src="../assets/img/png/help.png" alt="help" />
    </a>
    <div  id="user_profile_initials" class="user-profile-initials-box" ></div>
  </div>

  <div id="log_out" class="log-out d-none">
    <a id="help_mobile" class="d-none" href="../html/help.html">Help</a>
    <a href="../html/legalNotice.html">Legal Notice</a>
    <a href="../html/privacyPolicy.html">Privacy Policy</a>
    <a onclick="logOut()">Log Out</a>
  </div>
</header>

<aside id="sidebar">
  <img
    class="logo-sidebar"
    src="../assets/img/png/Join logo vector.png"
    alt=""
  />

  <div id="icon_bar" class="icon-bar">
    <a class="link-sidebar summary-link" href="../html/summary.html">
      <div class="box-icons">
        <img src="../assets/img/png/summary-grey.png" alt="" />
        Summary
      </div>
    </a>

    <a class="link-sidebar addTask-link" href="../html/addTask.html">
      <div class="box-icons">
        <img src="../assets/img/png/addTask-grey.png" alt="" />
        Add Task
      </div>
    </a>

    <a class="link-sidebar board-link" href="../html/board.html">
      <div class="box-icons">
        <img src="../assets/img/png/board-grey.png" alt="" />

        Board
      </div>
    </a>

    <a class="link-sidebar contacts-link" href="../html/contacts.html">
      <div class="box-icons">
        <img src="../assets/img/png/contacts-grey.png" alt="" />
        Contacts
      </div>
    </a>
  </div>

  <div class="credit-box">
    <div class="credit">
      <a
        class="link-policy-credits policeLink"
        id="policy_link"
        href="../html/privacyPolicy.html"
        >Privacy Policy</a
      >
    </div>

    <div class="credit">
      <a
        class="link-legal-credits noticeLink"
        id="legal_link"
        href="../html/legalNotice.html"
        >Legal notice</a
      >
    </div>
  </div>
</aside>
