<div>
  <span><h1 class="add-task-h1" id="add_task_h1">Add Task</h1></span>
  <div id="content_order" class="content-order">
    <div class="add-task-form-left">
      <div class="form-child-order">
        <label>Title<span class="required-sign">*</span></label>
        <div>
          <input oninput="resetrequiredTitle()" id="title_input" required placeholder="Enter a title" type="text" />
        </div>
        <div class="field-alert d-none" id="title_field_alert">This field is required</div>
      </div>
      <div class="form-child-order">
        <label>Description</label>
        <textarea name="Description" placeholder="Enter a Description" id="description_textarea"></textarea>
      </div>
      <div class="form-child-order">
        <label>Assigned to</label>
        <div id="assigned_contant" class="assigned-container">
          <div id="assigned_inactiv" onclick="openSelect(); bubblingPrevention(event)">
            <div class="div-input">Select contacts to assign</div>
            <div class="hover-circle d-flex-center pos-abs">
              <img src="../assets/img/png/arrow_drop_down.png" alt="Drop down arrow" />
            </div>
          </div>
          <div id="assigned_activ" class="d-none">
            <input oninput="searchContact()" onclick="bubblingPrevention(event)" type="text" placeholder="Select contacts to assign" id="assigned_to" />
            <div class="hover-circle d-flex-center pos-abs">
              <img onclick="closeSelect()" src="../assets/img/png/arrow-drop-down-up.png" alt="Drop down arrow upsidedown" />
            </div>
            <div onclick="bubblingPrevention(event)" id="contact_contant" class="select-field"></div>
          </div>
        </div>
        <div id="assigned_all" class="contact-icon-order">
          <div id="activ_user" class="contact-icon-order"></div>
          <div id="selected_contacts" class="contact-icon-order"></div>
        </div>
      </div>
    </div>
    <div id="dividing_bar" class="dividing-bar"></div>
    <div class="add-task-form-right">
      <div class="form-child-order">
        <label>Due date<span class="required-sign">*</span></label>
        <div>
          <input oninput="resetrequiredDate();" class="pos-rel" required id="due_date" type="date" />
        </div>
        <div class="field-alert d-none" id="date_field_alert">This field is required</div>
      </div>
      <div class="form-child-order">
        <label>Prio</label>
        <div class="div-button-order">
          <span onclick="selectPrio('urgent')" id="urgent_span" class="urgent-button d-flex-center">
            <span class="prio-span">Urgent</span>
            <img id="prio_urgent_colored" src="../assets/img/png/prio-urgent.png" alt="Urgent red arrows up" />
            <img id="prio_urgent_white" class="d-none" src="../assets/img/png/prio-urgent-white-at.png" alt="Urgent white arrows up" />
          </span>
          <span onclick="selectPrio('medium')" id="medium_span" class="clicked-medium d-flex-center">
            <span class="prio-span">Medium</span>
            <img id="prio_medium_colored" class="d-none" src="../assets/img/png/prio-medium.png" alt="Medium equal sign orange" />
            <img id="prio_medium_white" src="../assets/img/png/prio-medium-white-at.png" alt="Medium egual sign white" />
          </span>
          <span onclick="selectPrio('low')" id="low_span" class="low-button d-flex-center">
            <span class="prio-span">Low</span>
            <img id="prio_low_colored" src="../assets/img/png/prio-low.png" alt="Low green arrows upsidedown" />
            <img id="prio_low_white" class="d-none" src="../assets/img/png/prio-low-white-at.png" alt="Low white arrows upsidedown" />
          </span>
        </div>
      </div>
      <div id="edit_category" class="form-child-order">
        <label>Category<span class="required-sign">*</span></label>
        <div id="category_contant" class="category-container pos-rel">
          <div id="category_inactiv" onclick="openSelectCategory(); bubblingPrevention(event)">
            <div id="category" class="div-input">Select task category</div>
            <div class="hover-circle d-flex-center pos-abs">
              <img src="../assets/img/png/arrow_drop_down.png" alt="Drop down arrow" />
            </div>
          </div>
          <div id="category_activ" class="d-none" onclick="closeSelectCategory()">
            <div class="div-input">Select task category</div>
            <div class="hover-circle d-flex-center pos-abs">
              <img src="../assets/img/png/arrow-drop-down-up.png" alt="Drop down arrow upsidedown" />
            </div>
            <div id="category_task_contant" class="category-field"></div>
          </div>
        </div>
        <div class="field-alert d-none" id="category_field_alert">This field is required</div>
      </div>
      <div class="form-child-order space-bottom">
        <label>Subtasks</label>
        <div id="subtasks_contant" class="subtasks-container">
          <div onclick="changeSubtasksImagesClickPrevention(event)" id="subtasks_inactiv">
            <input onclick="enterValue()" type="text" placeholder="Add new subtask" id="subtasks_input" />
            <div onclick="openSubtasks()" id="subtasks_inactiv_img" class="hover-circle d-flex-center pos-abs">
              <img src="../assets/img/png/add-subtask.png" alt="Plus sign" />
            </div>
            <div id="subtasks_activ_img" class="d-flex-center pos-abs gap-4 d-none">
              <div class="hover-circle d-flex-center">
                <img onclick="cancelSubtasks()" src="../assets/img/png/subtasks-cancel.png" alt="Cross sign" />
              </div>
              <div class="dividing-border"></div>
              <div class="hover-circle d-flex-center">
                <img onclick="addSubtasksHandle(subTasks)" src="../assets/img/png/subtasks-checkmark.png" alt="Checkmark" />
              </div>
            </div>
          </div>
        </div>
        <ul id="subtasks_list"></ul>
      </div>
    </div>
  </div>

  <div id="bottom_order" class="bottom-order">
    <span id="alert_field" class="alert-field"><span class="required-sign">*</span>This field is required</span>
    <div id="bottom_button_order" class="bottom-button-order">
      <button id="clear_button" onclick="clearButton()" class="clear-button">
        Clear
        <img src="../assets/img/png/subtasks-cancel.png" alt="Cross sign default" />
      </button>
      <div class="create-button-div" id="create_button_div">
        <button onclick="enableButton()" id="create_button" class="create-task-button">
          <span>Create Task</span>
          <img src="../assets/img/png/create-check-mark.png" alt="Checkmark" />
        </button>
      </div>
    </div>
  </div>

  <div id="task_added_overlay" class="add-task-overlay d-flex-center d-none"></div>
</div>
