body {
  visibility: hidden;
}

.content-order {
  display: flex;
  margin-top: 48px;
}

.add-task-form-left {
  width: 440px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.add-task-form-right {
  width: 440px;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.form-child-order {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: auto;
}

label {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 4px;
}

.placeholder-gey {
  color: #d1d1d1;
}

.field-alert {
  height: 12px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  font-family: "Poppins";
  color: #ff8190;
}

textarea:focus {
  border-color: #29abe2;
}

textarea {
  height: 120px;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding: 18px 16px;
  cursor: pointer;
  resize: none;
  margin-bottom: 16px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  background-color: #ffffff;
}

.assigned-container {
  position: relative;
  display: inline-block;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
}

.assigned-container:hover {
  border: 1px solid #a8a8a8;
}

.hover-circle {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  cursor: pointer;
}

.hover-circle:hover {
  background-color: #eeeeee;
}

.contact-icon-order {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 4px;
}

.contact-icon {
  height: 42px;
  width: 42px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
}

.user-icon {
  height: 42px;
  width: 42px;
  border: 2px solid #2a3647;
  border-radius: 50%;
  color: #29abe2;
  font-size: 16px;
  font-weight: 400;
  line-height: 14.4px;
}

.contact-list:hover {
  border-radius: 10px;
  background-color: #eeeeee;
}

.dividing-bar {
  border-left: 1px solid #d1d1d1;
  height: 424px;
  width: 0px;
  margin: 0px 48px;
}

::-webkit-calendar-picker-indicator {
  background-image: url(../assets/img/png/calendar.png);
  background-size: 18px 20px;
  position: absolute;
  right: 16px;
  padding: 0;
  margin: 0;
}

.category-container {
  position: relative;
  display: inline-block;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
}

.category-container:hover {
  border: 1px solid #a8a8a8;
}

.category-list {
  height: 54px;
  background-color: #ffffff;
}

.category-list:hover {
  background-color: #eeeeee;
  border-radius: 10px;
}

.subtasks-container {
  position: relative;
  display: inline-block;
  margin-bottom: 8px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
}

.subtasks-container:hover {
  border: 1px solid #a8a8a8;
}

.subtasks-placeholder::placeholder {
  color: #d1d1d1;
}

.pos-abs {
  position: absolute;
  bottom: 12px;
  right: 15px;
}

ul {
  max-height: 90px;
  overflow-y: auto;
}

li {
  background-color: transparent;
  align-content: center;
  cursor: pointer;
  padding: 0px 70px 0px 6px;
  margin: 4px 0px;
  height: 32px;
}

.li-hover {
  overflow-x: hidden;
}

.li-hover:hover {
  background-color: #eeeeee;
  border-radius: 10px;
}

.imgs-pos-activ {
  top: 10px;
  right: 15px;
  cursor: pointer;
  display: none;
}

.list-item {
  margin-bottom: 12px;
}

.list-item:hover .list-imgs-activ {
  display: flex;
}

.hover-circle-subtask-active:hover {
  transition: ease-in-out;
  transform: scale(1.1);
}

.hover-circle-subtask-active {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  cursor: pointer;
}

.imgs-pos {
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.space-bottom {
  margin-bottom: 16px;
}

.bottom-order {
  max-width: 976px;
  display: flex;
  justify-content: space-between;
}
.bottom-edit-order {
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.alert-field {
  display: flex;
  align-items: end;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.alert-border {
  border: 1px solid #ff8190;
  border-radius: 10px;
}

.required-sign {
  color: #ff8190;
}

.addTask-link {
  background-color: #091931;
  color: white;
}

.select-field {
  width: 100%;
  background-color: #ffffff;
  max-height: 168px;
  position: absolute;
  overflow-y: scroll;
  border-radius: 10px;
  box-shadow: 0px 8px 14px 1px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.padding-7-16 {
  padding: 7px 16px;
  display: flex;
  align-items: center;
}

.category-field {
  width: 100%;
  background-color: #ffffff;
  max-height: 96px;
  position: absolute;
  border-radius: 10px;
  box-shadow: 0px 8px 14px 1px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.div-input {
  cursor: pointer;
  width: 100%;
  height: 48px;
  background-color: #ffffff;
  padding-inline: 12px;
  font-size: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.dividing-border {
  border-left: 1px solid #d1d1d1;
  height: 24px;
}

.subtasks-input {
  cursor: pointer;
  width: 100%;
  height: 32px;
  background-color: #ffffff;
  padding-left: 8px;
  padding-right: 80px;
  border: 0;
  border-radius: 0;
  margin: 4px 0px;
}

.subtasks-input:focus {
  border-bottom: 1px solid #005dff;
}

.added-overlay {
  height: 74px;
  width: 326px;
  background-color: #2a3647;
  color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}

#task_added_overlay {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  transition: bottom 0.5s ease;
}

#task_added_overlay.visible {
  bottom: 50%;
}

.hover-circle-subtask {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  cursor: pointer;
}

.hover-circle-subtask:hover {
  background-color: #eeeeee;
  transition: ease-in-out;
  transform: scale(1.1);
}

.add-task-board-click {
  width: clamp(745px, 79vw, 1135px);
  display: flex;
  justify-content: center;
}

.edit-task-board-click {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-inline: 100%;
}

.single-edit-task {
  max-height: 95vh;
  width: 530px;
  padding-block: 48px;
  padding-inline: 40px;
  border-radius: 30px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
  max-height: calc(100vh - 55px);
  background-color: rgb(246, 247, 248);
}

.edit-content-order {
  overflow-y: auto;
  max-height: calc(100vh - 290px);
  margin-top: 24px;
}
