.div-button-order {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 16px;
}

.urgent-button {
  height: 56px;
  width: 136px;
  border-radius: 10px;
  padding: 16px 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  gap: 8px;
  cursor: pointer;
}
.clicked-urgent {
  height: 56px;
  width: 136px;
  border-radius: 10px;
  padding: 16px 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  background-color: #ffffff;
  gap: 8px;
  cursor: pointer;
  background-color: #ff3d00;
  color: #ffffff;
}

.urgent-button:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.medium-button {
  height: 56px;
  width: 136px;
  border-radius: 10px;
  padding: 16px 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  gap: 8px;
  cursor: pointer;
}

.clicked-medium {
  height: 56px;
  width: 136px;
  border-radius: 10px;
  padding: 16px 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  background-color: #ffffff;
  gap: 8px;
  cursor: pointer;
  background-color: #ffa800;
  color: #ffffff;
}

.medium-button:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.low-button {
  height: 56px;
  width: 136px;
  border-radius: 10px;
  padding: 16px 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  background-color: white;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  gap: 8px;
  cursor: pointer;
}

.clicked-low {
  height: 56px;
  width: 136px;
  border-radius: 10px;
  padding: 16px 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  background-color: #ffffff;
  gap: 8px;
  cursor: pointer;
  background-color: #7ae229;
  color: #ffffff;
}

.low-button:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.prio-img {
  height: 14.51px;
  width: 20px;
}

.bottom-button-order {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  height: 56px;
}

.create-button-div {
  height: 100%;
}

.edit-ok-button {
  width: 100%;
}

.edit-bottom-button-order {
  width: 100%;
}
