.cursor-p {
  cursor: pointer;
}

button {
  cursor: pointer;
  height: 100%;
  padding: 0 16px;
  border: none;
  border-radius: 10px;
  font-size: 21px;
  font-weight: 700;
  color: white;
  background-color: rgb(42, 54, 71);
  display: flex;
  align-items: center;
  gap: 4px;
}

button:hover {
  background-color: rgb(41, 171, 226);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

button:active {
  background-color: rgb(9, 25, 49);
  box-shadow: none;
}

.clear-button {
  border: 1px solid #2a3647;
  color: #2a3647;
  background-color: transparent;
  font-size: 20px;
  font-weight: 400;
}

.clear-button:hover {
  border-color: #29abe2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #29abe2;
  background-color: #ffffff;
}

.clear-button:hover img {
  content: url(../assets/img/png/clear-button-lightblue.png);
}

.clear-button:active {
  background-color: transparent;
  border-color: #091931;
  color: #091931;
  box-shadow: none;
}

.clear-button:active img {
  content: url(../assets/img/png/clear-button-darkblue.png);
}

.little-button {
  cursor: pointer;
  border-radius: 50%;
}

.little-button:hover {
  background-color: rgb(209, 209, 209);
}

.delete-permanently {
  width: 360px;
  font-size: 20px;
  background-color: white;
  padding-block: 48px;
  border-radius: 30px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}

.delte-permanently-button-area {
  width: 100%;
  height: 35px;
  justify-content: space-around;
}

.delete-btn {
  height: 100%;
}

input {
  cursor: pointer;
  width: 100%;
  height: 48px;
  background-color: #ffffff;
  padding-left: 12px;
  padding-right: 70px;
  font-size: 20px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

::placeholder {
  color: #d1d1d1;
}

input:focus {
  outline-style: none;
  box-shadow: none;
  border-color: #29abe2;
}

.border-alert {
  border-color: rgb(255, 0, 31);
}

.bg-alert {
  background-color: rgb(255, 129, 144);
}

textarea:focus {
  outline-style: none;
  box-shadow: none;
}

select:focus {
  outline-style: none;
  box-shadow: none;
}

form {
  width: 100%;
}

.bg-category-userstory {
  background-color: rgb(0, 56, 255);
}

.bg-category-technicaltask {
  background-color: rgb(31, 215, 193);
}

.bg-category-tutorial {
  background-color: rgb(255, 61, 0);
}

.assigned-color-change {
  background-color: #091931;
  color: #ffffff;
  border-radius: 10px;
}

.arrow-back {
  border-radius: 23px;
  background-color: rgb(245, 246, 247);
  left: calc(100% - 139px);
  top: 225px;
  position: absolute;
  width: 37px;
}

.arrow-back:hover {
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100svh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1002;
}

.overlay.active {
  display: flex;
}

.overlay.visible {
  opacity: 1;
}
