.content {
  padding: 0px;
  flex-direction: row;
}

/* -------------------------------------------- */

.contact-box {
  width: 360px;
  height: 100%;
  padding: 32px 8px 8px 16px;
  box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-contact-btn {
  width: 100%;
  height: 56px;
}

.contact-list {
  flex: 1;
  width: 100%;
  overflow: scroll;
  margin-top: 9px;
  align-items: center;
}

.contact {
  width: calc(100% - 10px);
  margin: 2px 10px 2px 0px;
  padding: 12px 0px 12px 16px;
  border-radius: 10px;
  align-items: center;
}

.contact:hover {
  cursor: pointer;
  background-color: rgb(216, 216, 216);
}

.is-selected {
  background-color: #2a3647;
  color: white;
}

.is-selected:hover {
  background-color: #2a3647;
  color: white;
}

.letter-box {
  width: calc(100% - 10px);
  margin: 0px 10px 4px 0px;
  padding: 24px 0px 8px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.letter-circle {
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
}

.letter-circel-user {
  border: 2px solid black;
  color: rgb(41, 171, 226);
}

.contact-email {
  text-decoration: none;
  color: rgb(0, 126, 237);
}

.contact-email:hover {
  color: rgb(0, 126, 237);
}

/* -------------------------------------------- */

.contact-info {
  flex: 1;
  padding: 32px 32px;
}

.contact-info-text {
  display: flex;
  align-items: center;
  gap: 16px;
}

.text-seperator {
  height: 59px;
  width: 3px;
  background-color: rgb(41, 171, 226);
}

.info-text {
  font-size: 24px;
}

.arrow-back {
  position: absolute;
  left: auto;
  right: 24px;
  top: 24px;
  display: none;
}

.contacts-info-box {
  flex: 1;
  width: 100%;
}

/* -------------------------------------------- */

.contact-details {
  animation: slideInFromRight 0.3s ease-in;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.contacts-info-name {
  align-items: center;
}

.big-letter-circle {
  width: 120px;
  height: 120px;
  font-size: 48px;
  font-weight: 500;
  border-radius: 50%;
  border: 3px solid white;
}

.big-letter-circel-user {
  border: 3px solid black;
  color: rgb(41, 171, 226);
}

.contact-box-name {
  flex: 1;
  justify-content: center;
}

.contact-name {
  font-size: 40px;
  font-weight: 500;
}

.contact-link {
  cursor: pointer;
}

.contact-link:hover {
  cursor: pointer;
  color: #29abe2;
}

.icon-edit {
  fill: #000000;
}

.icon-delete {
  fill: #000000;
}

.contact-link:hover .icon-edit,
.contact-link:hover .icon-delete {
  fill: #29abe2;
}

.mobile-menu-btn {
  display: none;
}

/* -------------------------------------------- */

.overlay.visible .dialog-add-contact,
.overlay.visible .dialog-edit,
.overlay.visible .contact-feedback {
  transform: translateY(0);
}

dialog {
  position: relative;
  width: 960px;
  height: 560px;
  border-radius: 33px;
  padding: 0px;
  border: none;
  display: flex;
  justify-content: space-between;
  transform: translateX(100vw);
  transition: transform 0.5s ease;
}

.dialog-left {
  width: 320px;
  height: 100%;
  padding: 32px;
  background-color: #2a3647;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-dialog {
  position: absolute;
  width: 56px;
  top: 32px;
  left: 32px;
  height: auto;
}

.dialog-headline {
  font-size: 61px;
}

.dialog-text {
  font-size: 27px;
}

.dialo-text-seperator {
  width: 90px;
  border: 1px solid #29abe2;
}

.user-logo {
  height: 100%;
}

.new-user-img {
  width: 120px;
  height: 120px;
}

.dialog-right {
  position: relative;
  width: 422px;
  margin-right: 32px;
  border-radius: 30px;
  justify-content: center;
  gap: 48px;
}

.close-cross {
  position: absolute;
  top: 45px;
  right: 0px;
}

.input-fields {
  width: 100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-background {
  width: 100%;
  background-size: 16px;
  background-position: 380px 17px;
  background-repeat: no-repeat;
}

.input-name-img {
  background-image: url(../assets/img/png/person.png);
}

.input-email-img {
  background-image: url(../assets/img/png/mail.png);
}

.input-phone-img {
  background-image: url(../assets/img/png/call.png);
}

.error {
  border-color: red;
}

.field-alert {
  height: 20px;
  padding-left: 18px;
  padding-top: 5px;
  text-align: left;
  line-height: 14.4px;
  font-family: "Poppins";
  color: #ff8190;
}

.dialog-btns {
  width: 100%;
  height: 48px;
  display: flex;
  gap: 16px;
}

.icon-cancel {
  fill: #000000;
}

.contact-link:hover .icon-cancel {
  fill: #29abe2;
}

/* -------------------------------------------- */

/* .mobile-menu {
  z-index: 1000;
  background-color: white;
  bottom: 85px;
  right: 6px;
  position: absolute;
  width: 116px;
  height: 100px;
  border-radius: 20px 20px 0px 20px;
  padding: 10px;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.25);
}

.mobile-menu img {
  padding: 9px 9px 9px 9px;
}

.mobile-menu img:hover {
  cursor: pointer;
}

.mobile-menu .mobile-edit-img:hover {
  content: url("../assets/img/png/edit-hover.png");
  background-color: rgb(245, 246, 247);
  border-radius: 9px;
  padding: 9px 24px 9px 9px;
}

.mobile-menu .mobile-delete-img:hover {
  content: url("../assets/img/png/delete-hover.png");
  background-color: rgb(245, 246, 247);
  border-radius: 9px;
  padding: 9px 6px 9px 9px;
} */

/* -------------------------------------------- */

.contact-feedback {
  height: 74px;
  padding: 8px 24px;
  border-radius: 20px;
  background-color: rgb(42, 54, 71);
  transform: translateY(100vh);
  transition: transform 0.5s ease;
}

.d-none {
  display: none;
}

/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */

@media screen and (max-width: 777px) {
  h1 {
    font-size: clamp(47px, 7vw, 61px);
  }

  h2 {
    font-size: clamp(36px, 7vw, 61px);
  }
}

/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */

@media screen and (max-width: 1240px) {
  .content {
    padding: 0px;
  }

  .text-box {
    flex-direction: column;
    align-items: flex-start;
  }

  .text-seperator {
    order: 1;
    width: 90px;
    height: 3px;
  }

  .contacts {
    width: clamp(283px, 23vw, 352px);
  }

  .contact-seperator {
    width: 242px;
    margin: 8px 0px 8px 12px;
  }

  .contact-info-content {
    font-size: clamp(12px, 5vw, 20px);
  }
}

/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */

@media screen and (max-width: 1024px) {
  dialog {
    display: flex;
    width: clamp(290px, 88vw, 396px);
    height: clamp(584px, 67vh, 760px);
    flex-direction: column;
  }

  .dialog-edit {
    display: flex;
    width: clamp(290px, 88vw, 396px);
    height: clamp(584px, 67vh, 760px);
    flex-direction: column;
  }

  .dialog-left {
    width: clamp(290px, 88vw, 396px);
    height: 352px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0px;
    padding: 66px 24px;
  }

  .logo-dialog {
    display: none;
  }

  .dialog-text {
    font-size: 20px;
  }

  .dialog-right {
    flex-direction: column;
    align-items: center;
  }

  .new-user {
    margin-top: -60px;
    margin-left: 0px;
  }

  .edit-big-letter-circle {
    margin-top: -60px;
    margin-left: 0px;
    border: 3px solid white;
  }

  .input-fields {
    margin-top: 23px;
    width: 364px;
    gap: 15px;
  }

  .dialog-content-right {
    margin-left: 16px;
    margin-right: 16px;
  }

  .input-name {
    width: clamp(240px, 76vw, 364px);
    height: 41px;
    background-position: 330px 12px;
  }

  .input-email {
    width: clamp(240px, 76vw, 364px);
    height: 41px;
    background-position: 330px 12px;
  }

  .input-phone {
    width: clamp(240px, 76vw, 364px);
    height: 41px;
    background-position: 330px 12px;
  }

  .button-cancel {
    display: none;
  }

  .button-contacts {
    padding-top: 32px;
    padding-bottom: 30px;
    justify-content: center;
  }
  .close-cross {
    top: 24px;
    right: 16px;
  }
  .close-cross:hover {
    background-color: rgb(41, 171, 227);
  }

  .close-cross:active {
    background-color: rgb(41, 171, 227);
  }

  .button-delete-save {
    width: unset;
    height: 51px;
    padding-top: 32px;
    padding-bottom: 81px;
    justify-content: center;
    gap: 20px;
  }

  .button-delete {
    width: 82px;
    padding: 18px 10px;
  }
}

/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */

@media screen and (max-width: 777px) {
  .content {
    height: calc(100% - 160px);
    width: 100%;
    margin: 80px 0px 192px;
    padding: 0px 16px 0px;
  }

  h3 {
    font-size: clamp(24px, 5vw, 47px);
  }

  .add-contact {
    position: absolute;
    right: 16px;
    bottom: 88px;
    border-radius: 30px;
    width: 56px;
    height: 56px;
  }

  .add-contact-title {
    display: none;
  }

  .contact-info {
    display: none;
  }

  .handle-display {
    display: none;
  }

  .is-shown {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .letter-box {
    width: clamp(300px, 77vw, 352px);
  }

  .big-letter-circle {
    font-size: clamp(24px, 6vw, 47px);
    width: clamp(70px, 23vw, 120px);
    height: clamp(70px, 19vw, 120px);
    border: 3px solid white;
  }

  .contacts {
    width: clamp(300px, 77vw, 352px);
  }

  .contact-box {
    width: 100%;
    height: calc(100vh - 160px);
    padding: 0px 0px;
    align-items: flex-start;
  }

  .contact-seperator {
    margin-left: clamp(0px, 77vw, 12px);
    width: clamp(270px, 83vw, 95%);
  }

  .mobile-menu-btn {
    display: flex;
    display: none;
    border-radius: 30px;
    width: 56px;
    height: 56px;
    right: 16px;
    bottom: 88px;
    background-color: rgb(41, 53, 71);
    position: absolute;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .mobile-menu-btn:hover {
    cursor: pointer;
    background-color: rgb(41, 171, 227);
  }

  .mobile-menu-btn:active {
    background-color: rgb(41, 171, 227);
  }

  .edit-link {
    display: none;
  }

  .delete-link {
    display: none;
  }

  .contact-box-name {
    justify-content: center;
  }

  .arrow-back {
    display: block;
    position: absolute;
    right: 21px;
  }

  .arrow-back:hover {
    cursor: pointer;
  }

  .field-alert {
    width: clamp(240px, 76vw, 364px);
  }

  .contacts-info-name {
    height: unset;
    width: clamp(300px, 57vw, 700px);
  }

  .contacts-information {
    height: unset;
  }

  .contacts-info {
    animation: slideInFromRight 0s ease-in;
  }
}

/* 1118 Zeilen */
