body {
  margin: 0px;
  overflow: hidden;
}

h1 {
  font-size: clamp(47px, 4vw, 61px);
  font-weight: 700;
  line-height: 51px;
}

h3 {
  font-size: clamp(24px, 3vw, 47px);
  font-weight: 500;
  text-align: left;
  color: black;
  margin: 0px;
}

.content {
  padding: 0px;
  padding-inline: unset !important;
}

.contact-box {
  padding: 32px 0px 0px 0px;
  display: flex;
  width: clamp(333px, 27vw, 456px);
  height: calc(100vh - 96px);
  background-color: white;
  box-shadow: 1px 0px 4px 0px #0000001a;
  flex-direction: column;
  align-items: center;
}

.add-contact {
  display: flex;
  width: clamp(261px, 23vw, 352px);
  height: 56px;
  padding: 12px 16px 12px 16px;
  margin-right: 8px;
  gap: 16px;
  border-radius: 10px 10px 10px 10px;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #2a3647;
  font-size: 21px;
  font-weight: 700;
  border: 0px;
}

.add-contact:hover {
  cursor: pointer;
  background-color: #29abe2;
  box-shadow: 0px 4px 4px 0px #0000001a;
}

.letter-box {
  font-size: 20px;
  width: clamp(261px, 22vw, 352px);
  padding: 17px 36px 17px 36px;
}

.contacts {
  display: flex;
  font-size: 20px;
  width: clamp(280px, 23vw, 352px);
  padding: 15px 24px 15px 24px;
  gap: 35px;
  align-items: center;
  border-radius: 10px;
}

.contacts:hover {
  cursor: pointer;
  background-color: #f4f4f4a6;
}

.contacts:target {
  background-color: #2a3647;
  color: white;
}

.letter-circle {
  border: 2px solid white;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 27px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: white;
}

.contact-info {
  width: 156px;
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.contact-email {
  font-size: 16px;
  text-decoration: none;
  color: #007cee;
}

.contact-info a:hover {
  color: #007eed !important;
}

.contact-seperator {
  width: clamp(261px, 23vw, 352px);
  margin: 8px 0px 8px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.text-box {
  padding-top: clamp(55px, 9vw, 110px);
  padding-left: clamp(15px, 5vw, 55px);
  display: flex;
  gap: clamp(10px, 1vw, 30px);
  align-items: center;
}

.text-seperator {
  height: 59px;
  width: 3px;
  background-color: #29abe2;
}

.info-text {
  font-size: clamp(20px, 2vw, 27px);
}

.grey-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: +98;
}

.hidden {
  display: none;
}

.contacts-info {
  display: flex;
  width: clamp(300px, 44vw, 801px);
  gap: 21px;
  flex-direction: column;
  padding-top: 32px;
  padding-left: clamp(15px, 5vw, 55px);
}

.contacts-info-name {
  width: clamp(300px, 39vw, 700px);
  height: 120px;
  display: flex;
  gap: clamp(8px, 2vw, 54px);
  align-items: center;
}

.big-letter-circle {
  color: white;
  font-size: clamp(24px, 3vw, 47px);
  font-weight: 500;
  display: flex;
  border-radius: 90px;
  border: 3px solid white;
  width: clamp(78px, 8vw, 120px);
  height: clamp(70px, 8vw, 120px);
  justify-content: center;
  align-items: center;
}

.contact-box-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  width: clamp(240px, 30vw, 510px);
  height: 88px;
}

.contact-box-edit-delete {
  display: flex;
  width: 159px;
  justify-content: space-between;
}

.edit-link {
  display: flex;
  width: 62px;
  height: 24px;
  gap: 13px;
  font-size: 16px;
}

.delete-link {
  display: flex;
  width: 81px;
  height: 24px;
  gap: 13px;
  font-size: 16px;
}

.edit-link:hover {
  cursor: pointer;
  color: #29abe2;
  font-weight: 700;
}

.icon-edit {
  fill: #000000;
}

.edit-link:hover .icon-edit {
  fill: #29abe2;
}

.delete-link:hover {
  cursor: pointer;
  color: #29abe2;
  font-weight: 700;
}

.icon-delete {
  fill: #000000;
}

.delete-link:hover .icon-delete {
  fill: #29abe2;
}

.contacts-information {
  font-size: 20px;
  display: flex;
  width: 207px;
  height: 74px;
  gap: 59px;
  align-items: center;
}

.contacts-info-email-phone {
  display: flex;
  width: 140px;
  height: 128px;
  gap: 22px;
  flex-direction: column;
}

.contacts-info-email {
  display: flex;
  width: 140px;
  height: 53px;
  gap: 15px;
  flex-direction: column;
}

.contacts-info-phone {
  display: flex;
  width: 140px;
  height: 53px;
  gap: 15px;
  flex-direction: column;
}

.contacts-link {
  background-color: #091931;
  color: white !important;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.contacts-info {
  animation: slideInFromRight 0.1s ease-in;
}

.error {
  border-color: red;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#contact_list {
  display: flex;
  width: 100%;
  overflow: scroll;
  margin-top: 9px;
  flex-direction: column;
  align-items: center;
}

.user-profile-initials-box-contacts {
  font-weight: 600;
  display: flex;
  width: 48px;
  height: 48px;
  gap: 16px;
  border: 3px solid black;
  border-radius: 559px;
  align-items: center;
  justify-content: center;
  color: #29abe2;
  background-color: white;
}

.letter-circel-user {
  border: 2px solid black !important;
  color: rgb(41, 171, 227) !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1002;
}

.overlay.active {
  display: flex;
}

.overlay.visible {
  opacity: 1;
}

.overlay.visible .single-task,
.overlay.visible .add-task-board {
  transform: translateY(0);
}

.overlay-delete {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1002;
  opacity: 0;
  transition: background-color 0.5s ease;
}

.overlay-delete.active {
  display: flex;
}

.overlay-delete.visible {
  opacity: 1;
}

.overlay-delete.visible .delete-message {
  transform: translateY(0);
}
