.contacts-content {
  height: 100%;
  width: calc(100% - 232px);
  margin-left: 232px;
  margin-top: 96px;
  display: flex;
  flex-direction: row;
}

.contact-box {
  position: relative;
  width: 360px;
  height: 100%;
  padding: 32px 8px 8px 16px;
  box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.add-contact-btn {
  width: 100%;
  height: 56px;
}

.contact-list {
  flex: 1;
  width: 100%;
  overflow: scroll;
  margin-top: 9px;
  align-items: center;
}

.contact {
  width: calc(100% - 10px);
  margin: 2px 10px 2px 0px;
  padding: 12px 0px 12px 16px;
  border-radius: 10px;
  align-items: center;
}

.contact:hover {
  cursor: pointer;
  background-color: rgb(216, 216, 216);
}

.bg-user {
  background-color: rgba(41, 170, 226, 0.4);
}

.is-selected {
  background-color: #2a3647;
  color: white;
}

.is-selected:hover {
  background-color: #2a3647;
  color: white;
}

.letter-box {
  width: calc(100% - 10px);
  margin: 0px 10px 4px 0px;
  padding: 24px 0px 8px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.letter-circle {
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
}

.letter-circel-user {
  border: 2px solid black;
  color: rgb(41, 171, 226);
}

.contact-email {
  text-decoration: none;
  color: rgb(0, 126, 237);
}

.contact-email:hover {
  color: rgb(0, 126, 237);
}

.contact-info {
  flex: 1;
  padding: 32px 32px;
}

.contact-info-text {
  display: flex;
  align-items: center;
  gap: 16px;
}

.text-seperator {
  height: 56px;
  width: 3px;
  background-color: rgb(41, 171, 226);
}

.info-text {
  font-size: 24px;
}

.arrow-back {
  position: absolute;
  left: auto;
  right: 24px;
  top: 24px;
  display: none;
}

.contacts-info-box {
  flex: 1;
  width: 100%;
}

.contact-details {
  animation: slideInFromRight 0.3s ease-in;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.contacts-info-name {
  align-items: center;
}

.big-letter-circle {
  width: 120px;
  height: 120px;
  font-size: 48px;
  font-weight: 500;
  border-radius: 50%;
  border: 3px solid white;
}

.big-letter-circel-user {
  border: 3px solid black;
  color: rgb(41, 171, 226);
}

.contact-box-name {
  flex: 1;
  justify-content: center;
}

.contact-name {
  font-size: 40px;
  font-weight: 500;
}

.contact-link {
  cursor: pointer;
}

.contact-link:hover {
  cursor: pointer;
  color: #29abe2;
}

.edit-icon:hover {
  content: url(../assets/img/png/edit-hover.png);
}

.delete-icon:hover {
  content: url(../assets/img/png/delete-hover.png);
}

.mobile-menu-btn {
  display: none;
}

.overlay.visible .dialog-add-contact,
.overlay.visible .dialog-edit,
.overlay.visible .contact-feedback {
  transform: translateY(0);
}

dialog {
  position: relative;
  width: 960px;
  height: 560px;
  border-radius: 33px;
  padding: 0px;
  border: none;
  display: flex;
  justify-content: space-between;
  transform: translateX(100vw);
  transition: transform 0.5s ease;
}

.dialog-left {
  width: 320px;
  height: 100%;
  padding: 32px;
  background-color: #2a3647;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-dialog {
  position: absolute;
  width: 56px;
  top: 32px;
  left: 32px;
  height: auto;
}

.dialog-headline {
  font-size: 61px;
}

.dialog-text {
  font-size: 27px;
}

.dialog-text-seperator {
  width: 90px;
  border: 1px solid #29abe2;
}

.user-logo {
  height: 100%;
}

.user-you {
  font-size: 16px;
}

.new-user-img {
  width: 120px;
  height: 120px;
}

.dialog-right {
  position: relative;
  width: 422px;
  margin-right: 32px;
  border-radius: 30px;
  justify-content: center;
  gap: 48px;
}

.close-cross {
  position: absolute;
  top: 32px;
  right: 32px;
  z-index: 1;
}

.input-fields {
  width: 100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-background {
  width: 100%;
  background-size: 16px;
  background-position: 380px 17px;
  background-repeat: no-repeat;
}

.input-name-img {
  background-image: url(../assets/img/png/person.png);
}

.input-email-img {
  background-image: url(../assets/img/png/mail.png);
}

.input-phone-img {
  background-image: url(../assets/img/png/call.png);
}

.error {
  border-color: red;
}

.field-alert {
  height: 20px;
  padding-left: 18px;
  padding-top: 5px;
  text-align: left;
  line-height: 14.4px;
  font-family: "Poppins";
  color: #ff8190;
}

.dialog-btns {
  width: 100%;
  height: 48px;
  display: flex;
  gap: 16px;
}

.contact-feedback {
  height: 74px;
  padding: 8px 24px;
  border-radius: 20px;
  background-color: rgb(42, 54, 71);
  transform: translateY(100vh);
  transition: transform 0.5s ease;
}

.d-none {
  display: none;
}
