.mobile-add-contact {
    display: none;
    border-radius: 30px;
    width: 56px;
    height: 56px;
    right: 16px;
    bottom: 88px;
    background-color: rgb(41, 53, 71);
    position: absolute;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  .mobile-add-contact:hover {
    cursor: pointer;
    background-color: rgb(41, 171, 227);
  }
  
  .mobile-add-contact:active {
    background-color: rgb(41, 171, 227);
  }
  
  .mobile-contact-info {
    background-color: rgb(245, 246, 247);
    top: 80px;
    left: 0px;
    bottom: 80px;
    z-index: 97;
    width: 100%;
  }
  
  .mobile-delete-edit {
    display: flex;
    border-radius: 30px;
    width: 56px;
    height: 56px;
    right: 16px;
    bottom: 8px;
    background-color: rgb(41, 53, 71);
    position: absolute;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  .mobile-delete-edit:hover {
    cursor: pointer;
    background-color: rgb(41, 171, 227);
  }
  
  .mobile-delete-edit:active {
    background-color: rgb(41, 171, 227);
  }
  
  .mobile-menu {
    z-index: 98;
    background-color: white;
    bottom: 85px;
    right: 6px;
    position: absolute;
    display: none;
    width: 116px;
    height: 100px;
    border-radius: 20px 20px 0px 20px;
    padding: 10px ;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.25);
  }
  
  .mobile-menu img{
    padding: 9px 9px 9px 9px ;
  }
  
  .mobile-menu img:hover{
    cursor: pointer;
  }
  
  .mobile-menu .mobile-edit-img:hover{
    content: url('../assets/img/png/edit-hover.png');
    background-color: rgb(245, 246, 247);
    border-radius: 9px;
    padding: 9px 24px 9px 9px ;
  }
  
  .mobile-menu .mobile-delete-img:hover{
    content: url('../assets/img/png/delete-hover.png');
    background-color: rgb(245, 246, 247);
    border-radius: 9px;
    padding: 9px 6px 9px 9px ;
  }