.content {
  padding: 0px;
  flex-direction: row;
}

.contact-box {
  width: 400px;
  height: 100%;
  padding: 32px 0px 8px 16px;
  box-shadow: 1px 0px 4px 0px #0000001a;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-contact-btn {
  width: 100%;
  /* padding: 12px 16px 12px 16px;
  border-radius: 10px 10px 10px 10px;
  color: white;
  background-color: #2a3647;
  font-size: 21px;
  font-weight: 700;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px; */
}

.contact-info {
  flex: 1;
  display: flex;
  gap: 5px;
  flex-direction: column;
}


/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */


h3 {
  font-size: clamp(24px, 3vw, 47px);
  font-weight: 500;
  text-align: left;
  color: black;
  margin: 0px;
}



.add-contact:hover {
  cursor: pointer;
  background-color: #29abe2;
  box-shadow: 0px 4px 4px 0px #0000001a;
}

.letter-box {
  font-size: 20px;
  width: clamp(261px, 22vw, 352px);
  padding: 17px 36px 17px 36px;
}

.contacts {
  display: flex;
  font-size: 20px;
  width: clamp(280px, 23vw, 352px);
  padding: 15px 24px 15px 24px;
  gap: 35px;
  align-items: center;
  border-radius: 10px;
}

.contacts:hover {
  cursor: pointer;
  background-color: #f4f4f4a6;
}

.is-selected {
  background-color: #2a3647;
  color: white;
}

.is-selected:hover {
  background-color: #2a3647;
  color: white;
}

.letter-circle {
  border: 2px solid white;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 27px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: white;
}

.contact-email {
  font-size: 16px;
  text-decoration: none;
  color: #007cee;
}

.contact-info-content a:hover {
  color: #007eed !important;
}

.contact-seperator {
  width: clamp(261px, 23vw, 352px);
  margin: 8px 0px 8px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.text-box {
  padding-top: clamp(55px, 9vw, 110px);
  padding-left: clamp(15px, 5vw, 55px);
  display: flex;
  gap: clamp(10px, 1vw, 30px);
  align-items: center;
}

.text-seperator {
  height: 59px;
  width: 3px;
  background-color: #29abe2;
}

.info-text {
  font-size: clamp(20px, 2vw, 27px);
}

.arrow-back {
  display: none;
}

.contacts-info {
  position: relative;
  display: flex;
  width: clamp(300px, 44vw, 801px);
  gap: 21px;
  flex-direction: column;
  padding-top: 32px;
  padding-left: clamp(15px, 5vw, 55px);
}

.contacts-info-name {
  width: clamp(300px, 39vw, 700px);
  height: 120px;
  display: flex;
  gap: clamp(8px, 2vw, 54px);
  align-items: center;
}

.big-letter-circle {
  color: white;
  font-size: clamp(24px, 3vw, 47px);
  font-weight: 500;
  display: flex;
  border-radius: 90px;
  border: 3px solid white;
  width: clamp(78px, 8vw, 120px);
  height: clamp(70px, 8vw, 120px);
  justify-content: center;
  align-items: center;
}

.contact-box-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  width: clamp(240px, 30vw, 510px);
  height: 88px;
}

.contact-box-edit-delete {
  display: flex;
  width: 159px;
  justify-content: space-between;
}

.edit-link {
  display: flex;
  width: 62px;
  height: 24px;
  gap: 13px;
  font-size: 16px;
}

.delete-link {
  display: flex;
  width: 81px;
  height: 24px;
  gap: 13px;
  font-size: 16px;
}

.edit-link:hover {
  cursor: pointer;
  color: #29abe2;
  font-weight: 700;
}

.icon-edit {
  fill: #000000;
}

.edit-link:hover .icon-edit {
  fill: #29abe2;
}

.delete-link:hover {
  cursor: pointer;
  color: #29abe2;
  font-weight: 700;
}

.icon-delete {
  fill: #000000;
}

.delete-link:hover .icon-delete {
  fill: #29abe2;
}

.contacts-information {
  font-size: 20px;
  display: flex;
  width: 207px;
  height: 74px;
  gap: 59px;
  align-items: center;
}

.contacts-info-email-phone {
  display: flex;
  width: 140px;
  height: 128px;
  gap: 22px;
  flex-direction: column;
}

.contacts-info-email {
  display: flex;
  width: 140px;
  height: 53px;
  gap: 15px;
  flex-direction: column;
}

.contacts-info-phone {
  display: flex;
  width: 140px;
  height: 53px;
  gap: 15px;
  flex-direction: column;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.contacts-info {
  animation: slideInFromRight 0.1s ease-in;
}

.error {
  border-color: red;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#contact_list {
  display: flex;
  width: 100%;
  overflow: scroll;
  margin-top: 9px;
  flex-direction: column;
  align-items: center;
}

.letter-circel-user {
  border: 2px solid black !important;
  color: rgb(41, 171, 227) !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1002;
}

.overlay.active {
  display: flex;
}

.overlay.visible {
  opacity: 1;
}

.overlay.visible .dialog-contacts,
.overlay.visible .dialog-edit,
.overlay.visible .contact-feedback{
  transform: translateY(0);
}

dialog {
  position: relative;
  width: clamp(900px, 69vw, 1212px);
  height: 592px;
  font-family: "inter", Arial, sans-serif;
  text-align: center;
  border-radius: 33px;
  padding: 0;
  border: 0px;
  display: flex;
  transform: translateX(100vw);
  transition: transform 0.5s ease;
}

.dialog-left {
  display: flex;
  width: 467px;
  height: 594px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: #2a3647;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 66px 48px 66px 48px;
  box-sizing: border-box;
  gap: 12px;
}

.dialog-right {
  background-color: white;
  display: flex;
  border-radius: 30px;
}

.logo-dialog {
  width: 55.6px;
  height: 66.48px;
}

h2 {
  font-size: clamp(47px, 4vw, 61px);
  color: white;
  margin: 0px;
  padding: 0px;
}

.dialog-text {
  font-size: 27px;
  font-weight: 400;
  color: white;
  text-align: left;
}

.dialo-text-seperator {
  width: 90px;
  border: 1px solid #29abe2;
  border-radius: 9px;
}

.d-flex {
  display: flex;
}

.unknown-user {
  margin-top: 204px;
  margin-left: clamp(27px, 3vw, 83px);
  width: 120px;
  height: 120px;
}

.cross {
  width: 13.15px;
  height: 13.15px;
}

.close-cross {
  display: flex;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 45px;
  right: 45px;
  justify-content: center;
  align-items: center;
}

.close-cross:hover {
  cursor: pointer;
  background-color: #eeeeee;
  border-radius: 15px;
}

.dialog-content-right {
  margin-left: clamp(40px, 3vw, 72px);
  margin-right: 18px;
  display: flex;
  flex-direction: column;
}

.input-fields-contacts {
  width: 422px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: space-between;
  margin-top: 137px;
}

.input-name {
  width: 422px;
  background-size: 16px;
  background-position: 380px 17px;
  background-repeat: no-repeat;
  background-image: url(../assets/img/png/person.png);
}

.input-email {
  width: 422px;
  background-size: 20px 20px;
  background-position: 378px 16px;
  background-repeat: no-repeat;
  background-image: url(../assets/img/png/mail.png);
}

.input-phone {
  width: 422px;
  background-size: 18px;
  background-position: 378px 16px;
  background-repeat: no-repeat;
  background-image: url(../assets/img/png/call.png);
}

::placeholder {
  color: #d1d1d1;
}

input {
  font-size: 20px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 13px 21px 13px 21px;
  outline: none;
}

input:focus {
  border: 1px solid #29abe2;
}

.button-contacts {
  display: flex;
  width: 364px;
  gap: 10px;
  justify-content: space-between;
  padding-top: 48px;
}

button {
  height: 55px;
  border: 1px solid;
  border-radius: 8px;
  padding: 16px;
}

.close-icon-button {
  width: 14px;
  height: 14px;
}

.check-icon-button {
  width: 24px;
  height: 24px;
}

.button-cancel {
  font-size: 20px;
  font-weight: 400;
  width: 126px;
  gap: 4px;
  display: flex;
  color: #2a3647;
  background-color: white;
  justify-content: space-around;
  align-items: center;
}

.button-cancel:hover {
  cursor: pointer;
  border: 1px solid #29abe2;
  color: #29abe2;
  box-shadow: 0px 8px 5px 0px #0000001a;
}

.button-cancel:hover .close-icon-button {
  stroke: #29abe2;
}

.button-create {
  font-size: 21px;
  font-weight: 700;
  width: 214px;
  color: white;
  background-color: #2a3647;
  display: flex;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
}

.button-create:hover {
  cursor: pointer;
  background-color: #29abe2;
  box-shadow: 0px 8px 5px 0px #0000001a;
}

.button-save {
  font-size: 21px;
  font-weight: 700;
  width: 111px;
  color: white;
  background-color: #2a3647;
  display: flex;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
}

.button-save:hover {
  cursor: pointer;
  background-color: #29abe2;
  box-shadow: 0px 8px 5px 0px #0000001a;
}

.button-delete-save {
  padding-top: 48px;
  display: flex;
  width: 249px;
  height: 57px;
  gap: 10px;
  justify-content: space-between;
}

.button-delete {
  font-size: 20px;
  font-weight: 400;
  width: 113px;
  gap: 4px;
  display: flex;
  color: #2a3647;
  background-color: white;
  justify-content: space-around;
  align-items: center;
}

.button-delete:hover {
  cursor: pointer;
  color: #29abe2;
}

.contact-feedback {
  height: 74px;
  padding: 8px 24px;
  color: #ffffff;
  border-radius: 20px;
  background-color: rgb(42, 54, 71);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100vh);
  transition: transform 0.5s ease;
}

.edit-big-letter-circle {
  display: flex;
  width: 120px;
  height: 120px;
  border-radius: 70px;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 47px;
  font-weight: 500;
  margin-left: clamp(27px, 3vw, 83px);
  margin-top: 204px;
}

.field-alert {
  padding-left: 18px;
  padding-top: 5px;
  text-align: left;
  height: 12px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  font-family: "Poppins";
  color: #ff8190;
}

.delete-contact {
  width: 360px;
  font-size: 20px;
  background-color: white;
  padding-block: 48px;
  border-radius: 30px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}

.delte-contact-button-area {
  width: 100%;
  height: 35px;
  justify-content: space-around;
}

.delete-btn {
  height: 100%;
}

.delete-btn:hover {
  cursor: pointer;
}

.clear-button {
  border: 1px solid #2a3647;
  color: #2a3647;
  background-color: transparent;
  font-size: 20px;
  font-weight: 400;
  height: 36px;
  padding: 0px 16px;
}

.clear-button:hover {
  border-color: #29abe2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #29abe2;
  background-color: #ffffff;
  cursor: pointer;
}

.clear-button:hover img {
  content: url(../assets/img/png/clear-button-lightblue.png);
}

.clear-button:active {
  background-color: transparent;
  border-color: #091931;
  color: #091931;
  box-shadow: none;
}

.clear-button:active img {
  content: url(../assets/img/png/clear-button-darkblue.png);
}

.d-none {
  display: none;
}

.mobile-delete-edit {
  display: none;
  border-radius: 30px;
  width: 56px;
  height: 56px;
  right: 16px;
  bottom: 88px;
  background-color: rgb(41, 53, 71);
  position: absolute;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.mobile-delete-edit:hover {
  cursor: pointer;
  background-color: rgb(41, 171, 227);
}

.mobile-delete-edit:active {
  background-color: rgb(41, 171, 227);
}

.mobile-menu {
  z-index: 98;
  background-color: white;
  bottom: 85px;
  right: 6px;
  position: absolute;
  width: 116px;
  height: 100px;
  border-radius: 20px 20px 0px 20px;
  padding: 10px;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.25);
}

.mobile-menu img{
  padding: 9px 9px 9px 9px;
}

.mobile-menu img:hover{
  cursor: pointer;
}

.mobile-menu .mobile-edit-img:hover{
  content: url('../assets/img/png/edit-hover.png');
  background-color: rgb(245, 246, 247);
  border-radius: 9px;
  padding: 9px 24px 9px 9px;
}

.mobile-menu .mobile-delete-img:hover{
  content: url('../assets/img/png/delete-hover.png');
  background-color: rgb(245, 246, 247);
  border-radius: 9px;
  padding: 9px 6px 9px 9px;
}


/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */



@media screen and (max-width: 777px) {
  h1 {
    font-size: clamp(47px, 7vw, 61px);
  }

  h2 {
    font-size: clamp(36px, 7vw, 61px);
  }
}


/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */



/* 
@media screen and (max-width: 1240px) {
  .content {
    padding: 0px;
  }

  .text-box {
    flex-direction: column;
    align-items: flex-start;
  }

  .text-seperator {
    order: 1;
    width: 90px;
    height: 3px;
  }

  .contacts {
    width: clamp(283px, 23vw, 352px);
  }

  .contact-seperator {
    width: 242px;
    margin: 8px 0px 8px 12px;
  }

  .contact-info-content {
    font-size: clamp(12px, 5vw, 20px);
  }
}

@media screen and (max-width: 1024px) {
  .dialog-contacts {
    display: flex;
    width: clamp(290px, 88vw, 396px);
    height: clamp(584px, 67vh, 760px);
    flex-direction: column;
  }

  .dialog-edit {
    display: flex;
    width: clamp(290px, 88vw, 396px);
    height: clamp(584px, 67vh, 760px);
    flex-direction: column;
  }
  
  .dialog-left {
    width: clamp(290px, 88vw, 396px);
    height: 352px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0px;
    padding: 66px 24px;
  }

  .logo-dialog {
    display: none;
  }

  .dialog-text {
    font-size: 20px;
  }

  .dialog-right {
    flex-direction: column;
    align-items: center;
  }

  .unknown-user {
    margin-top: -60px;
    margin-left: 0px;
  }

  .edit-big-letter-circle {
    margin-top: -60px;
    margin-left: 0px;
    border: 3px solid white;
  }

  .input-fields-contacts {
    margin-top: 23px;
    width: 364px;
    gap: 15px;
  }

  .dialog-content-right {
    margin-left: 16px;
    margin-right: 16px;
  }

  .input-name {
    width: clamp(240px, 76vw, 364px);
    height: 41px;
    background-position: 330px 12px;
  }

  .input-email {
    width: clamp(240px, 76vw, 364px);
    height: 41px;
    background-position: 330px 12px;
  }

  .input-phone {
    width: clamp(240px, 76vw, 364px);
    height: 41px;
    background-position: 330px 12px;
  }

  .button-cancel {
    display: none;
  }

  .button-contacts {
    padding-top: 32px;
    padding-bottom: 30px;
    justify-content: center;
  }
  .close-cross {
    top: 24px;
    right: 16px;
  }
  .close-cross:hover {
    background-color: rgb(41, 171, 227);
  }

  .close-cross:active {
    background-color: rgb(41, 171, 227);
  }

  .button-delete-save {
    width: unset;
    height: 51px;
    padding-top: 32px;
    padding-bottom: 81px;
    justify-content: center;
    gap: 20px;
  }

  .button-delete {
    width: 82px;
    padding: 18px 10px;
  }
}

@media screen and (max-width: 777px) {

  .content {
    height: calc(100% - 160px);
    width: 100%;
    margin: 80px 0px 192px;
    padding: 0px 16px 0px;
  }

  h3 {
    font-size: clamp(24px, 5vw, 47px);
  }

  .add-contact {
    position: absolute;
    right: 16px;
    bottom: 88px;
    border-radius: 30px;
    width: 56px;
    height: 56px;
  }

  .add-contact-title{
    display: none;
  }

  .contact-info {
    display: none;
  }

  .handle-display {
    display: none;
  }

  .is-shown {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .letter-box {
    width: clamp(300px, 77vw, 352px);
  }

  .big-letter-circle {
    font-size: clamp(24px, 6vw, 47px);
    width: clamp(70px, 23vw, 120px);
    height: clamp(70px, 19vw, 120px);
    border: 3px solid white;
  }

  .contacts {
    width: clamp(300px, 77vw, 352px);
  }

  .contact-box {
    width: 100%;
    height: calc(100vh - 160px);
    padding: 0px 0px;
    align-items: flex-start;
  }

  .contact-seperator {
    margin-left: clamp(0px, 77vw, 12px);
    width: clamp(270px, 83vw, 95%);
  }

  .mobile-delete-edit {
    display: flex;
    bottom: 88px;
  }

  .edit-link {
    display: none;
  }

  .delete-link {
    display: none;
  }

  .contact-box-name {
    justify-content: center;
  }

  .arrow-back {
    display: block;
    position: absolute;
    right: 21px;
  }

  .arrow-back:hover {
    cursor: pointer;
  }

  .field-alert {
    width: clamp(240px, 76vw, 364px);
  }

  .contacts-info-name {
    height: unset;
    width: clamp(300px, 57vw, 700px);
  }

  .contacts-information {
    height: unset;
  }

  .contacts-info {
    animation: slideInFromRight 0s ease-in;
  }
} */