a:hover {
  font-weight: 400;
}

header {
  top: 0;
  left: 232px;
  position: absolute;
  font-size: 20px;
  display: flex;
  width: calc(100% - 232px);
  height: 96px;
  padding: 20px 40px 20px 116px;
  gap: 0px;
  justify-content: space-between;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  align-items: center;
  box-sizing: border-box;
  background-color: white;
}

.icon-box {
  width: 104px;
  height: 56px;
  gap: 16px;
  display: flex;
  align-items: center;
}

.help {
  width: 32px;
  height: 32px;
}

.help:hover {
  scale: 1.3;
  transition: 125ms;
}

.user-profile-initials-box {
  font-weight: 600;
  display: flex;
  width: 48px;
  height: 48px;
  gap: 16px;
  border: 3px solid #2a3647;
  border-radius: 559px;
  align-items: center;
  justify-content: center;
  color: #29abe2;
}

.user-profile-initials-box:hover {
  background-color: rgb(225, 230, 237);
  cursor: pointer;
}

.overlay-template {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: 999;
}

.log-out {
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: #2a3647;
  padding: 10px;
  border-radius: 20px 0px 20px 20px;
  position: absolute;
  top: 69px;
  left: calc(100% - 254px);
  font-size: clamp(16px, 3vw, 20px);
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-top: none;
}

.log-out a {
  text-decoration: none;
  padding: 8px 16px;
  color: #cdcdcd;
}

.log-out a:hover {
  background-color: #2a3d59;
}

.help-menu {
  display: none;
}

aside {
  top: 0;
  position: absolute;
  width: 232px;
  height: 100vh;
  padding: 64px 0px;
  font-weight: 400;
  color: white;
  background-color: #2a3647;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 800;
}

.logo-sidebar {
  width: clamp(70px, 10vw, 100.03px);
}

.icon-bar {
  height: 229px;
  width: 100%;
  box-sizing: unset;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.link-sidebar {
  height: 46px;
  padding: 8px 56px 8px 56px;
  font-size: clamp(12px, 2vw, 16px);
  color: #cdcdcd;
  display: flex;
  align-items: center;
  gap: 10px;
}

.link-sidebar:hover {
  cursor: pointer;
  color: #cdcdcd;
  background-color: #2a3d59;
}

.credit-box {
  width: 100%;
  padding-top: clamp(21px, 4vh, 210px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  gap: 8px;
}

.link-credits {
  height: 35px;
  padding-left: 52px;
  font-size: clamp(12px, 1.5vw, 16px);
  color: #a8a8a8;
  display: flex;
  align-items: center;
}

.link-credits:hover {
  cursor: pointer;
  font-weight: 700;
  color: #29abe2;
}

.link-credits.selected {
  color: #a8a8a8;
}

.selected {
  cursor: not-allowed;
  pointer-events: none;
  background-color: #091931;
  color: #ffffff;
}

.logo-mobile {
  display: none;
}

.d-none {
  display: none;
}
