header {
  top: 0;
  left: 232px;
  position: absolute;
  font-size: 20px;
  display: flex;
  width: calc(100% - 232px);
  height: 96px;
  padding: 20px 40px 20px 116px;
  gap: 0px;
  justify-content: space-between;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  align-items: center;
  box-sizing: border-box;
  background-color: white;
}

.help {
  width: 32px;
  height: 32px;
}

.help:hover {
  scale: 1.3;
  transition: 125ms;
}

.user-profile-initials-box {
  font-weight: 600;
  display: flex;
  width: 48px;
  height: 48px;
  gap: 16px;
  border: 3px solid #2a3647;
  border-radius: 559px;
  align-items: center;
  justify-content: center;
  color: #29abe2;
}

.user-profile-initials-box:hover {
  background-color: rgb(225, 230, 237);
  cursor: pointer;
}

.icon-box {
  width: 104px;
  height: 56px;
  gap: 16px;
  display: flex;
  align-items: center;
}

.log-out {
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: #2a3647;
  padding: 10px;
  border-radius: 20px 0px 20px 20px;
  position: absolute;
  top: 69px;
  left: calc(100% - 254px);
  font-size: clamp(16px, 3vw, 20px);
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-top: none;
}

#log_out a {
  text-decoration: none;
  padding: 8px 16px;
  color: #cdcdcd;
}

#log_out a:hover {
  background-color: #2a3d59;
}

aside {
  top: 0;
  position: absolute;
  width: 232px;
  height: 100vh;
  padding: 64px 0px;
  font-weight: 400;
  color: white;
  background-color: #2a3647;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo-sidebar {
  width: clamp(70px, 10vw, 100.03px);
}

.icon-bar {
  height: 229px;
  width: 100%;
  color: #cdcdcd;
  box-sizing: unset;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.icon-bar a {
  text-decoration: none;
  color: #cdcdcd;
}

.box-icons {
  width: 232px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 46px;
  padding: 8px 56px 8px 56px;
  box-sizing: border-box;
  font-size: clamp(12px, 2vw, 16px);
}

.box-icons path {
  fill: #cdcdcd;
}

.link-sidebar:hover {
  cursor: pointer;
  background-color: #2a3d59;
}

.credit-box {
  width: 100%;
  padding-top: clamp(21px, 4vh, 210px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  gap: 8px;
}

.link-policy-credits {
  text-decoration: none;
  color: #a8a8a8;
  padding-left: 52px;
}

.link-policy-credits:hover {
  font-weight: 700;
  cursor: pointer;
  color: #29abe2;
}

.link-policy-credits.disabled {
  pointer-events: none; 
  font-weight: normal; 
  cursor: default;
  color: #a8a8a8;
}

.link-legal-credits {
  text-decoration: none;
  color: #a8a8a8;
  padding-left: 52px;
}

.link-legal-credits:hover {
  font-weight: 700;
  cursor: pointer;
  color: #29abe2;
}

.link-legal-credits.disabled {
  pointer-events: none !important;
  font-weight: normal !important;
  cursor: default !important;
  color: #a8a8a8 !important;
}

.credit {
  display: flex;
  box-sizing: border-box;
  height: 35px;
  align-items: center;
  justify-content: flex-start;
}

.credit a {
  font-size: clamp(12px, 1.5vw, 16px);
}

.link-sidebar.disabled {
  pointer-events: none; 
  background-color: #091931; 
  color: #ffffff; 
}

.link-sidebar.disabled:hover {
  cursor: default; 
  background-color: #2a3d59;
}

.disabled {
  pointer-events: none; 
  color: grey; 
  cursor: not-allowed; 
}

.bg-color {
  background-color: rgb(225, 230, 237) !important;
}

a:hover {
  font-weight: 400;
}

.logo-mobile {
  display: none;
}

.d-flex{
  display: flex;
}

.d-none{
  display: none;
}