body {
  margin: 0px;
}

h1 {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 61px;
  font-weight: 700;
}

h2 {
  margin: 0px;
  font-size: 27px;
  font-weight: 700;
}

h3 {
  margin-bottom: 0px;
}

span {
  line-height: 19px;
}

.content-legal-notice {
  gap: 30px;
  color: black;
  overflow-y: scroll;
}

.content-legal-notice::-webkit-scrollbar {
  display: none;
}

.container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  padding-top: 110px;
  padding-left: 96px;
}

.imprint {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  margin: 0px 16px;
}

a {
  color: black;
}

.portfolio-link {
  padding-left: 38px;
  color: rgb(42, 54, 71);
}
