@media screen and (min-width: 1441px) {
  .content {
    padding-inline: calc(96px + (100vw - 1440px) / 2);
  }
}

@media screen and (max-width: 1440px) {
  .content {
    padding-inline: clamp(16px, 1vw, 96px);
  }
}

@media screen and (max-width: 1240px) {
  .content {
    width: calc(100% - 144px);
    margin-left: 144px;
  }
}

@media screen and (max-width: 1024px) {
  .content {
    width: calc(100% - clamp(100px, 15vw, 144px));
    margin-left: clamp(100px, 15vw, 144px);
  }
}

@media screen and (max-width: 777px) {
  body {
    height: calc(100% - 160px);
  }

  .content {
    width: 100%;
    margin-top: 80px;
    margin-left: 0;
  }

  h1 {
    font-size: clamp(47px, 7vw, 61px);
  }

  h2 {
    font-size: clamp(36px, 7vw, 61px);
  }
}
